* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background: #8e8e8e;
}