/*    Style Base    */
* {
  font-family: "Inter";
}

h1 {
  font-family: "Inter", Sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  color: rgb(29, 29, 29);
  text-align: center;
}

table {
  font-family: "Inter";
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: regular;
}

textarea {
  font-size: 14px;
  padding: 10px;
}

label {
  color: #adadad;
  font-style: italic;
  padding-left: 10px;
}

table.inner {
  border: 10px
}

select {
  padding: 8px 12px;
  border: 0px solid;
  margin: 5px 0;
  border-radius: 6px;
  box-sizing: border-box;
}


/*    Customized    */
.form-table td:nth-child(1) {
  text-align: right;
}

input[type=text],
input[type=email],
input[type=number] {
  width: 50%;
  padding: 6px 12px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type=submit],
input[type=reset] {
  width: 40%;
  padding: 8px 12px;
  border: 0px solid;
  margin: 5px 0;
  border-radius: 6px;
  box-sizing: border-box;
  background: transparent;
  font-weight: bold;
}

input[type=submit] {
  background: rgb(13, 79, 177);
  color: white;
}

input[type=reset] {
  background: rgb(52, 56, 65);
  color: white;
}

input[type=submit]:hover,
input[type=reset]:hover {
  opacity: 80%;
}