* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 10px;
  background: #ffffff;
  border-radius: 10px;
}

.body {
  width: 200px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #4f4f4f;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  white-space: warp;
  width: 100px;
}

.card button:hover {
  opacity: 0.7;
}

img {
  border-radius: 10px 10px 0px 0px;
}