:root[data-theme='light'] {
  --main-color: rgb(130, 130, 130);
  --second-color: #5c413c;
  --second-color-hover: #85625c;
  --box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
  --black: #13131a;
  --bottom-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.1);
  --black: #13131a;
  --cart-bg: #e6e6e6;
  --bg: #f9f9f9;
  --bg-alt: #ffffff;
  --bg-tap: rgb(226, 226, 226, 0.4);
  --bg-fade: #eaeaea;
  --bg-transparent: rgba(255, 255, 255, 0.8);
  --fg-alt: rgb(70, 70, 70);
  --fg-fade: #4e5256;
  --fg: #212529;
  --fg-text: #4d5052;
  --fg-transparent: rgba(33, 37, 41, 0.8);
  --white: #ffffff;
  --border: .1rem solid rgba(255, 255, 255, .3);

  --white-text: #dddddd;
}