.container {
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 4px solid yellow;
  justify-content: center;
  align-items: center;
}

.child {
  width: 50px;
  height: 50px;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  position: sticky;
  top: 0;
  left: 0;
}