:root[data-theme='dark'] {
  --main-color: rgb(130, 130, 130);
  --second-color: #5c413c;
  --second-color-hover: #85625c;
  --box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
  --black: #2c2c2d;
  --cart-bg: #e6e6e6;
  --bg: #1b1c1d;
  --bg-alt: #2a2929;
  --bg-tap: rgba(73, 72, 72, 0.4);
  --bg-fade: #393838;
  --bg-transparent: rgba(0, 0, 0, 0.8);
  --fg-alt: #f4f4f4;
  --fg-fade: #a3a7ac;
  --fg: #eef2f6;
  --fg-text: #d8dee1;
  --fg-transparent: rgba(204, 211, 218, 0.8);
  --white: #ffffff;
  --border: .1rem solid rgba(255, 255, 255, .3);


  --white-text: #dddddd;
}