@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/baron-neue');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Klee+One&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  /* Background color for clicking on the link */
  -webkit-tap-highlight-color: var(--bg-tap);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--fg);
  border-radius: 5rem;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--fg-transparent);
}

/* The clear button in the search box */
input[type="search"]::-webkit-search-cancel-button {
  filter: grayscale(100%) opacity(50%);
  cursor: pointer;
  padding: 20px 0px;
}

body {
  background-color: var(--bg);
}

/* ==================
   HEADER SECTION 
==================*/
.header {
  background-color: var(--bg-transparent);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.img-logo {
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--fg);
  text-decoration: none;
  transition: .2s ease;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .5rem;
}

.header .icons div {
  color: var(--fg);
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--fg-fade);
}

.header .navbar ul {
  display: flex;
  align-items: right;
  list-style: none;
  text-align: left;
}

.header .navbar li {
  margin: 0 1rem;
}

/* ==================
    HOME SECTION
==================*/
.btn-home {
  color: #FFF;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  margin-top: 8rem;
  display: inline-block;
  padding: 1rem 8rem;
  font-size: 2rem;
  background-color: rgba(240, 240, 240, 0.2);
  cursor: pointer;
  border: 1px solid rgba(240, 240, 240, 0.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-home:hover {
  background-color: transparent;
  border: 1px solid rgba(240, 240, 240, 0.8);
}

.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.home-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.home .content {
  max-width: 300rem;
  position: relative;
  z-index: 2;
}

.home .content h3 {
  font-family: "Klee One", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.home .content h2 {
  font-family: 'Baron Neue', sans-serif;
  font-size: 9rem;
  margin-bottom: 20px;
  background: transparent -webkit-gradient(linear, left top, right top, from(transparent), to(transparent), color-stop(0.4, #fff)) 0 0 no-repeat;
  -webkit-background-size: 800px 300px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 6s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine {

  0%,
  20% {
    background-position: -800px;
  }

  100% {
    background-position: 800px;
  }
}

.home .content p {
  font-family: "Handlee", cursive;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.8;
  padding: 0.6rem 0;
  color: rgb(229, 229, 229);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
  padding-left: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* ==================
  ABOUT US SECTION 
==================*/
.about .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--white);
}

.about .row .content p {
  font-size: 1.6rem;
  color: var(--white-text);
  padding: 1rem 0;
  line-height: 1.8;
}

.btn-close-success:hover {
  background: var(--fg-fade);
}

/* ==========================
  BREWING EQUIPMENTS SECTION
========================= */
.product-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* =========================
 EVENTS & WORKSHOPS SECTION
========================= */
.events-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  max-width: 1600px;
  margin: 0 auto;
}

.event-title {
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.event-description {
  color: var(--fg-text);
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 4px;
}

.event-time-wrapper {
  display: block;
}

.event-time {
  font-family: "Inter", sans-serif;
  display: inline-block;
  margin: 10px 0px;
  padding: 6px 12px;
  font-weight: bold;
  background-color: var(--bg-fade);
  color: var(--fg-alt);
  font-size: 1.8rem;
  line-height: 2.6rem;
  border-radius: 6px;
}

.event-box {
  background: var(--bg-alt);
  color: var(--fg);
  cursor: default;
}

.event-box .padding {
  padding: 1.6rem 1.8rem;
}

.events-container .box:hover {
  transform: scale(1);
}

.events-container .box::before {
  opacity: 0;
}

.event-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.event-image img {
  width: 100%;
  transition: .2s ease;
}

.event-image img:hover {
  transform: scale(102%);
}

.events-container .box:hover {
  transform: scale(1);
}

.events-container .box::before {
  opacity: 0;
}

.event-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: var(--bg);
  color: var(--fg);
  padding: 0.8rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  font-size: 1.3rem;
  box-shadow: --var(--box-shadow);
}

.event-badge strong {
  display: block;
  font-weight: bolder;
  font-size: 3rem;
}

.event-badge span {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.btn-register {
  color: var(--bg);
  background-color: var(--fg);
  font-size: 1.8rem;
  font-weight: bold;
  width: 100%;
  padding: 10px 20px;
  margin-top: 14px;
  cursor: pointer;
}

.btn-register:hover {
  opacity: 80%;
}

.btn-register:active {
  opacity: 60%;
}

/* =======================
  COMMUNITY BLOGS SECTION
======================= */
.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2rem;
}

.blog-card {
  background: var(--bg-alt);
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.blog-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--box-shadow);
}

.blog-card img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.blog-content {
  padding: 1.8rem;
}

.blog-content h3 {
  color: var(--fg);
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.blog-content p {
  font-size: 1.4rem;
  color: var(--fg-text);
  margin-bottom: 1.4rem;
}

.blog-link {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--main-color);
}

/* =======================
  SPECIAL OFFERS SECTION 
======================= */
.special-offers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 6rem;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 20px;
}

.special-offers-box {
  position: relative;
  background: var(--bg-alt);
  color: var(--fg);
  cursor: default;
  padding: 20px;
  border-radius: 6px;
  box-shadow: var(--bottom-shadow);
}

.special-offers-box h3 {
  color: var(--fg);
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.special-offers-box p {
  font-size: 1.4rem;
  color: var(--fg-text);
  margin-bottom: 1.4rem;
}

.offer-price-warpper {
  display: flex;
}

.offer-price {
  color: var(--fg);
  font-size: 4rem;
  padding: .5rem 0;
  font-weight: bold;
}

.offer-price span {
  color: var(--fg-fade);
  font-size: 2rem;
  padding-left: 8px;
}

.offer-discount-price {
  color: var(--fg-fade);
  font-size: 1.8rem;
  padding-top: 2rem;
  margin-right: 1rem;
  text-decoration: line-through;
}

.offer-image img {
  display: block;
  width: 100%;
  padding: 10px;
}

.offer-badge {
  position: absolute;
  top: -20px;
  right: 10px;
  border-radius: 6px;
  padding: 1rem;
  background: #e63946;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  overflow: hidden;
}

.offer-badge.sub {
  background: linear-gradient(40deg, #a05000 0%, #e79e00 100%);
  box-shadow: 0 4px 8px rgba(137, 107, 0, 0.4);
}

.offer-badge.promo {
  background: linear-gradient(40deg, #ff0000 0%, #ff7700 100%);
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.4);
}

.offer-discount-percent {
  font-family: "Handlee", cursive;
  display: inline-block;
  color: var(--white);
  background: var(--second-color);
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 2rem;
}

.offer-discount-percent span {
  font-family: "Handlee", cursive;
  font-weight: bold;
  font-size: 2.4rem;
}

.offer-hottest {
  transform: scale(106%);
  border: 2px solid var(--fg);
}

.offer-benefits {
  list-style: none;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--fg-text);
}

.offer-benefits li::before {
  content: "✓ ";
  color: green;
  font-weight: bold;
}

.btn-offer {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
  background: var(--fg);
  color: var(--bg);
  cursor: pointer;
  margin: 1rem 0;
}

.btn-offer:hover {
  opacity: 0.85;
}

/* ===================
  CONTACT US SECTION
=================== */
.contact-layout {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  gap: 3rem;
  align-items: stretch;
}

.contact-info {
  padding: 2.5rem;
}

.contact-info h3 {
  background: var(--white);
  width: fit-content;
  text-decoration: underline;
  padding: 4px 10px;
  border-radius: 6px;
  color: var(--black);
  font-size: 2.4rem;
  margin: 1.5rem 0rem;
}

.contact-info p {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  color: var(--white-text);
}

.contact-info i {
  color: var(--main-color);
  margin-right: 0.8rem;
}

.contact-note {
  margin-top: 2rem;
  font-style: italic;
  color: var(--fg-muted);
}

.contact .row {
  display: flex;
  background-color: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

#map {
  width: 100%;
  height: 340px;
}

/* ================
  FOOTER SECTION
================ */
.footer {
  background-color: var(--black);
  /*text-align: center;*/
  padding: 20px;
  margin-top: 10rem;
}

.footer .footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer .logo i {
  font-size: 2rem;
  color: var(--white-text);
  margin-right: 5px;
  margin-top: 1rem;
}

.footer .logo p {
  display: inline-block;
  margin: 0;
  font-size: 1.5rem;
  color: var(--white-text);
  vertical-align: middle;
  text-transform: none;
}

.footer .support h2,
.footer .logo h2 {
  font-size: 2.5rem;
  color: var(--white-text);
}

.footer .support a {
  display: block;
  margin-bottom: 8px;
  color: var(--white-text);
  text-decoration: none;
  font-size: 1.7rem;
}

.footer .support a:hover {
  opacity: 80%;
}

.footer .credit {
  font-size: 2rem;
  color: var(--white-text);
  font-weight: lighter;
  flex: 0 0 100%;
  text-align: center;
}

.footer .credit h2 {
  font-weight: lighter;
  margin-top: 8px;
  font-size: 1.7rem;
}

.footer .credit span {
  color: var(--main-color);
}

.footer .credit hr {
  color: var(--main-color);
}


/* ================================
  SMALLER DEVICES | RESPONSIVENESS
================================ */
#menu-btn {
  display: none;
}

@media (max-width:991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }

}

@media (max-width:802px) {
  #menu-btn {
    display: inline-block;
  }

  .navbar-expand.active {
    background-color: var(--bg);
    box-shadow: var(--box-shadow);
  }

  .header .navbar ul {
    display: flex;
    flex-direction: column;
  }

  .header {
    padding: 0px 40px;
  }

  .header .navbar {
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-weight: bold;
    color: var(--fg);
    top: 100%;
    right: -100%;
    background-color: var(--bg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 30rem;
    height: calc(100vh - 9.5rem);
    padding-top: 40px;
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    cursor: pointer;
    display: block;
    margin: 1rem 1.5rem;
    padding: 2rem;
    font-size: 2rem;
    background-color: var(--bg-transparent);
    border-radius: 0px 6px 6px 0px;
    border-left: 4px solid var(--fg-fade);
  }

  .header .navbar a:hover {
    color: var(--fg);
    border-bottom: 0;
    padding: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 2.4rem;
  }
}

@media (max-width:511px) {
  html {
    font-size: 50%;
  }

  .menu .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
  }

  .events-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .contact-layout {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .modal-layout {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 380px) {
  .credit-details {
    flex-direction: column;
  }
}

/* ====================
       SEARCH 
==================== */
.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.header .search-form.active {
  transform: scaleY(1);
  opacity: 1;
  background-color: var(--fg);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--fg);
  padding: 1rem 2rem;
  text-transform: none;
  border-right: .4rem solid var(--fg-fade);
  background-color: var(--bg-alt);
  box-shadow: var(--box-shadow);
}

.search-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--bg-fade);
  color: var(--fg);
  box-shadow: var(--bottom-shadow);
  z-index: 1001;
  max-height: 240px;
  overflow-y: auto;
  border-right: .4rem solid var(--fg-fade);
}

.search-suggestions div {
  padding: 1.4rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.search-suggestions div:hover {
  opacity: 60%;
}

/* Search - No Results */
.no-results h2 {
  font-size: 3rem;
  color: var(--fg)
}

.no-results i {
  font-size: 6rem;
}

.no-results {
  display: none;
  justify-content: center;
  text-align: center;
  color: var(--fg);
  background-color: var(--bg-fade);
  opacity: 40%;
  border-radius: 8px;
  padding: 10rem;
  font-size: 1.6rem;
}

/* ==================
   CART DRAWER
================== */
.cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 10rem);
  border-radius: 2rem 0rem 0rem 2rem;
  width: 35rem;
  background-color: var(--bg);
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transition: .2s ease;
}

.header .cart.active {
  right: 0;
}

.description {
  display: none;
  color: var(--fg-text);
  font-size: 1.7rem;
  padding: 4px 0px;
  line-height: 2rem;
}

.cart-content {
  flex: 1;
  margin: 1.5rem 0;
  padding-right: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.cart i {
  padding: 0rem 1rem;
}

.cart-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1.5rem;
  color: var(--fg);
}

.cart-box {
  display: grid;
  background: var(--bg-alt);
  color: var(--fg);
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 10px 20px 10px 6px;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
  border-radius: 2rem;
}

.cart-product-title {
  font-size: 1.5rem;
  margin-left: 14px;
}

.cart-price {
  font-size: 1.7rem;
  font-weight: 500;
  font-weight: bold;
  margin-left: 14px;
}

.cart-quantity {
  color: var(--fg);
  background: var(--bg-tap);
  height: 2.6rem;
  width: 5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 2px;
  margin-left: 14px;
}

.cart-remove {
  font-size: 2.4rem;
  color: var(--fg-fade);
  cursor: pointer;
}

.cart-remove:hover {
  color: var(--fg);
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  padding-top: 1rem;
  color: var(--fg);
}

.total-title {
  font-size: 2rem;
  color: var(--fg-fade);
}

.total-price {
  font-size: 2rem;
  margin-left: 0.5rem;
  font-weight: bolder;
}

.btn-buy {
  width: 100%;
  margin: 1rem 0rem 8rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--bg);
  background-color: var(--fg);
  cursor: pointer;
}

.btn-buy:hover {
  background-color: var(--fg-fade);
}

/* Scrollbar inside cart drawer */
.cart-content::-webkit-scrollbar {
  width: 6px;
  background: var(--bg-transparent);
}

.cart-content::-webkit-scrollbar-thumb {
  background: var(--fg);
  border-radius: 4px;
}

.cart-content::-webkit-scrollbar-thumb:hover {
  background: var(--fg-fade);
}

.cart-content::-webkit-scrollbar-track {
  background: transparent;
}

/* CART ITEMS */
.header .cart .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart .cart-item img {
  height: 7rem;
}

.header .cart .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: .5rem;
}

.header .cart .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--main-color);
  font-weight: bold;
}

/* ================
   Add to cart
================ */
.add-cart {
  text-decoration: none;
  color: var(--white);
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  min-height: 40px;
  font-size: 1.7rem;
  transition: 0s;
  cursor: pointer;
  background: var(--second-color);
  font-weight: bold;
  text-transform: uppercase;

  margin-top: auto;
  width: 100%;
}

.add-cart:hover {
  cursor: pointer;
  opacity: 80%;
}

.add-cart:active {
  cursor: pointer;
  opacity: 60%;
}

.header .cart .btn {
  width: 100%;
  text-align: center;
  background: var(--bg);
}

/* Message "Added to cart!" on products */
.added-toast {
  position: absolute;
  background: var(--second-color-hover);
  color: white;
  font-size: 1.3rem;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  white-space: nowrap;
  z-index: 9999;

  opacity: 0;
  transform: translateY(6px);
  animation: toastFade 1.8s ease forwards;
}

/* Small arrow */
.added-toast::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 20%;
  transform: translateX(-50%);
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: var(--second-color-hover) transparent transparent transparent;
}

@keyframes toastFade {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-6px);
  }
}

/* =========================
  HIDDEN - SHOW MORE/LESS 
========================= */
.equipment-hide {
  display: none;
}

.coffee-hide {
  display: none;
}

.is-expanded .coffee-hide,
.is-expanded .equipment-hide {
  display: block;
}

#coffeeContainer .coffee-hide,
#equipmentContainer .equipment-hide {
  display: none;
}

#coffeeContainer.is-expanded .coffee-hide,
#equipmentContainer.is-expanded .equipment-hide {
  display: block;
}

#eventsContainer .event-hide {
  display: none;
}

#eventsContainer.is-expanded .event-hide {
  display: block;
}

/* ===============
  MODAL LAYOUT
=============== */
#modalDescription {
  font-size: 1.6rem;
}

#modalTitle {
  font-family: "Handlee", cursive;
  font-weight: bold;
  font-size: 3rem;
}

.modal {
  color: var(--fg);
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: var(--bg);
  padding: 2.4rem 3rem 4rem 2.4rem;
  max-width: 600px;
  /* wider for side-by-side */
  width: 80%;
  border-radius: 1rem;
}

.modal-close {
  font-size: 2.8rem;
  padding-left: 2px;
}

.modal-close:hover {
  color: var(--fg-fade);
}

.modal-layout {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  align-items: start;
}

#modalImg {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  padding-right: 2rem;
}

.modal-details h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#modalUsage {
  color: var(--fg);
  font-style: normal;
}

.modal-details p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

#modalPrice {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

/* =================
   PAYMENT MODAL
================= */
#paymentPrice {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

#paymentModal form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.paymentPrice {
  font-weight: bold;
}

#paymentTitle {
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 3rem;
}


#paymentModal input {
  color: var(--fg);
  background: var(--bg-fade);
  padding: 1.2rem;
  font-size: 1.5rem;
  border-radius: 6px;
}

#purchaseSuccess i {
  color: green;
}

.credit-details {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.credit-details input {
  flex: 1 1 0;
  min-width: 0;
}

/* =====================
   REGISTRATION MODAL 
===================== */
.registration-modal {
  background: var(--bg-alt);
  max-width: 600px;
}

.registration-modal form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.registration-modal input {
  color: var(--fg);
  background: var(--bg-fade);
  padding: 1.2rem;
  font-size: 1.5rem;
  border-radius: 6px;
}

.btn-submit {
  padding: 1.2rem;
  font-size: 1.6rem;
  background: var(--fg);
  color: var(--bg);
  border-radius: 6px;
  cursor: pointer;
}

.btn-submit:hover {
  opacity: 80%;
}

.btn-submit:active {
  opacity: 60%;
}

.success-message {
  display: none;
  text-align: center;
  margin-top: 2rem;
}

.success-message i {
  font-size: 6rem;
  color: var(--fg);
  padding: 6px;
}

.success-message h2 {
  font-size: 2rem;
}

.success-message p {
  font-size: 1.6rem;
  margin-bottom: 6rem;
  margin-bottom: 6rem;
}

#eventSuccess {
  display: none;
}

/* =====================
  ORDER SUCCESS MODAL
===================== */
.order-success {
  text-align: center;
  padding: 4rem 3rem;
}

.order-success i {
  font-size: 6rem;
  color: var(--main-color);
  margin-bottom: 1.5rem;
}

.order-success h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.order-success p {
  font-size: 1.6rem;
  color: var(--fg-text);
  margin-bottom: 3rem;
}

.btn-close-success {
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  background: var(--fg);
  color: var(--bg);
  border-radius: 6px;
  cursor: pointer;
}

/* ================
     TOOLTIP
================ */
.tooltip {
  position: relative;
}

.tooltip::after {
  font-family: "Handlee", cursive;
  font-weight: normal;
  text-transform: capitalize;
  content: attr(data-tooltip);
  position: absolute;
  bottom: calc(100% + -75px);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-shadow: none;
  box-shadow: var(--bottom-shadow);

  background: var(--bg-alt);
  color: var(--fg);
  border: 1px solid var(--border);
  padding: 6px 10px;
  border-radius: 6px;

  font-size: 1.6rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s ease, transform 0.15s ease;
  z-index: 1000;
}

.tooltip:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-2px);
}

/* ============
    GLOBAL
============ */
.heading {
  text-align: center;
  color: var(--fg);
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 50px;
  margin-bottom: 20px;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

section {
  padding: 2rem 7%;
}

.section-description {
  font-family: "Handlee", cursive;
  text-align: center;
  color: var(--fg-text);
  font-size: 2.4rem;
  padding-bottom: 40px;
}

/* ==================
  SHOW MORE / LESS 
================== */
.showHideWarpper {
  display: flex;
  justify-content: center;
}

.btn-showhide {
  color: var(--bg);
  background: var(--fg);
  padding: 1rem 10rem;
  margin-top: 3rem;
  position: relative;
  font-size: 1.8rem;
}

.btn-showhide:hover {
  background-color: var(--fg-transparent);
}

.btn-showhide:active {
  transform: scale(0.95);
}

.row-to-hide {
  display: none;
}

/* ================
   MENU + BOXES
================ */
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.box {
  background: var(--bg);
  position: relative;
  overflow: hidden;
}

.menu .product-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  display: block;
}

.menu {
  display: center;
}

.menu .box-container .box {
  padding: 1.8rem;
  background-color: var(--bg-alt);
  text-align: center;
  overflow: visible;
}

.menu .box-container .box h3 {
  color: var(--fg);
  font-size: 2.4rem;
  margin-top: 1.5rem;
  font-family: "Handlee", cursive;
  font-weight: bolder;
}

.menu .box-container .box .price {
  color: var(--fg);
  font-size: 2.5rem;
  padding: .5rem 0;
  font-weight: bold;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow);
}

/* ====================
  Other Customization
==================== */
.solid-line {
  border-top: 3px dashed var(--fg-fade);
  opacity: 20%;
  margin: 80px 30px 10px 30px;
}

.box-line {
  border-top: 3px dashed var(--fg-fade);
  opacity: 20%;
  margin: 10px 0px;
}